# Creamos base de datos

In [0]:
%sql
CREATE OR REPLACE TABLE demo.clientes_array (
  id INT NOT NULL,
  nombre STRING NOT NULL,
  edad INT,
  activo BOOLEAN,
  saldo DOUBLE,
  fecha_registro DATE,
  notas ARRAY<STRING>,
  preferencias ARRAY<INT> NOT NULL,
  metadata MAP<STRING, STRING>,
  puntuacion FLOAT
) USING DELTA;

INSERT INTO demo.clientes_array VALUES
  (1, 'Ana', 30, true, 1000.5, '2024-01-01', array('nota1', 'nota2'), array(1,2,3), map('k1','v1'), 4.5),
  (2, 'Luis', 25, false, 500.0, '2024-01-02', array('nota3'), array(4,5), map('k2','v2'), 3.2),
  (3, 'Eva', 28, true, 750.0, '2024-01-03', array('nota4', 'nota5'), array(6), map('k3','v3'), 2.8),
  (4, 'Juan', 35, true, 1200.0, '2024-01-04', array('nota6'), array(7,8), map('k4','v4'), 5.0),
  (5, 'Sara', 22, false, 300.0, '2024-01-05', array('nota7', 'nota8'), array(9,10), map('k5','v5'), 1.5),
  (6, 'Pedro', 40, true, 2000.0, '2024-01-06', array('nota9'), array(11,12), map('k6','v6'), 4.0),
  (7, 'Lucia', 27, true, 800.0, '2024-01-07', array('nota10'), array(13), map('k7','v7'), 3.7),
  (8, 'Mario', 33, false, 950.0, '2024-01-08', array('nota11', 'nota12'), array(14,15), map('k8','v8'), 2.2),
  (9, 'Carmen', 29, true, 1100.0, '2024-01-09', array('nota13'), array(16,17), map('k9','v9'), 4.8),
  (10, 'Diego', 31, false, 600.0, '2024-01-10', array('nota14', 'nota15'), array(18,19), map('k10','v10'), 3.0);

num_affected_rows,num_inserted_rows
10,10

In [0]:
df = spark.table("demo.clientes_array")

df.printSchema()

root
 |-- id: integer (nullable = false)
 |-- nombre: string (nullable = false)
 |-- edad: integer (nullable = true)
 |-- activo: boolean (nullable = true)
 |-- saldo: double (nullable = true)
 |-- fecha_registro: date (nullable = true)
 |-- notas: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- preferencias: array (nullable = false)
 |    |-- element: integer (containsNull = true)
 |-- metadata: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)
 |-- puntuacion: float (nullable = true)

In [0]:
df_pandas = df.toPandas()
df_pandas

   id  nombre  edad  ...  preferencias        metadata puntuacion
0   1     Ana    30  ...     [1, 2, 3]    {'k1': 'v1'}        4.5
1   2    Luis    25  ...        [4, 5]    {'k2': 'v2'}        3.2
2   3     Eva    28  ...           [6]    {'k3': 'v3'}        2.8
3   4    Juan    35  ...        [7, 8]    {'k4': 'v4'}        5.0
4   5    Sara    22  ...       [9, 10]    {'k5': 'v5'}        1.5
5   6   Pedro    40  ...      [11, 12]    {'k6': 'v6'}        4.0
6   7   Lucia    27  ...          [13]    {'k7': 'v7'}        3.7
7   8   Mario    33  ...      [14, 15]    {'k8': 'v8'}        2.2
8   9  Carmen    29  ...      [16, 17]    {'k9': 'v9'}        4.8
9  10   Diego    31  ...      [18, 19]  {'k10': 'v10'}        3.0

[10 rows x 10 columns]

In [0]:
df_pandas.dtypes

id                  int32
nombre             object
edad                int32
activo               bool
saldo             float64
fecha_registro     object
notas              object
preferencias       object
metadata           object
puntuacion        float32
dtype: object

In [0]:
df_pandas['notas'][0]

array(['nota1', 'nota2'], dtype=object)

In [0]:
df_pandas['preferencias'][0]

array([1, 2, 3], dtype=int32)